/*
Team: Time Lords
Author(s): Joseph Erlinger, Sterling Stewart
Description: CSS code for content containers.
Last Modified: 5/5/2023
*/

.content-flex-container {
  display: flex;
  flex-direction: column;
  position: sticky;
}

.content-flex-container>div {
  position: relative;
  margin-bottom: var(--margin_between_interfaces);
  width: 100%;
}

#interface-1 {
  order: 1;
}

#interface-2 {
  order: 2;
}