/*
Team: Time Lords
Author(s): Joseph Erlinger
Description: CSS code for flex containers.
Last Modified: 4/13/2023
*/

.flex-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black_0);
}

.flex-container>header {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  height: 6.5vh;
  background-color: var(--black_2);
}

.flex-container>main {
  position: relative;
  padding-top: 6.5vh; /* Add padding equal to header height */
  padding-bottom: 6.5vh; /* Add padding equal to footer height */
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  min-height: 67vh;
  background-color: var(--black_0);
}

.flex-container>footer {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  height: 6.5vh;
  background-color: var(--black_0);
}