/*
Team: Time Lords
Author(s): Joseph Erlinger
Description: CSS code for footer bar on each page.
Last Modified: 4/13/2023
*/

footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: var(--footer_border);
  right: var(--footer_border);
  border-style: var(--border_style);
  border-color: var(--black_2);
  border-width: 0;
  border-top-width: var(--border_width);
}