/*
Team: Time Lords
Author(s): Joseph Erlinger
Description: CSS code for header bar on each page.
Last Modified: 4/13/2023
*/

header>div {
  position: absolute;
  top: 0;
  height: 100%;
}

/* Logo */
.logo-container {
  top: 0;
  left: 0;
  width: 10%;
}

#logo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Button Bar */
.button-container {
  right: 4%;
  width: 10%;
}

#login-button {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 90%;
  height: 80%;
}