/*
Team: Time Lords
Author(s): Joseph Erlinger, Sterling Stewart
Description: CSS code for consistent theme of webapp.
Last Modified: 4/27/2023
*/

:root {

  /* Colors */
  --black_0: #080a0d;
  --black_1: #0f131a;
  --black_2: #171d26;

  --primary_0: #993000;
  --primary_1: #b33900;
  --primary_2: #ff5100;
  --primary_3: #ff7433;
  --primary_4: #ffb999;

  /* Error Color */
  --error: #ff0000;
  /* Font Settings */
  --font_color: var(--primary_2);
  --font_color_hover: var(--primary_3);

  /* Animation Settings */
  --animation_duration: 0.2s;

  /* Button Settings */
  --button_background_color: var(--black_1);
  --button_background_color_hover: var(--black_2);
  --button_font_size: 2vh;
  --button_text_align: center;

  /* Border Settings */
  --border_width: 2px;
  --border_radius: 6px;
  --border_style: solid;
  --border_color: var(--black_2);
  --border_color_hover: var(--primary_1);


  /* Interface Settings */
  --interface_title_padding_bottom: 2vh;
  --interface_title_margin_top: 2vh;
  --margin_between_interfaces: 10vh;
  --text_padding_left: 4vw;
  --interface_background_color: var(--black_1);

  /* Footer Settings */
  --footer_border: 3vw;

  /* Popup Settings */
  --popup_text_input_left: 10%;
  --popup_text_input_width: 80%;
  --popup_text_input_top_bottom_padding: 10px;
  --popup_submit_input_top_bottom_padding: 10px;
  --popup_background_color: var(--black_1);
  --popup_border_color: var(--black_2);
  --popup_submit_input_width: 40%;
  --popup_submit_input_left: 30%;
  --popup_margin_between_inputs: 10px;

  /* Negative value so that I can place <span> after <input>. This is important for css selector. */
  --popup_text_input_hint_left: -70%;
  --popup_text_input_hint_top_bottom_padding: 10px;
  --popup_text_input_hint_color_0: var(--primary_2);
  --popup_text_input_hint_color_1: var(--primary_4);

}

.font {
  color: var(--font_color);
}

button {
  border-style: var(--border_style);
  border-radius: var(--border_radius);
  border-width: var(--border_width);
  border-color: var(--border_color);
  background-color: var(--button_background_color);
}

button.font {
  font-size: var(--button_font_size);
  text-align: var(--button_text_align);
}

button:hover {
  background-color: var(--button_background_color_hover);
  color: var(--font_color_hover);
  border-color: var(--border_color_hover);
  animation-name: hover-button-animation;
  animation-duration: var(--animation_duration);
}

@keyframes hover-button-animation {
  from {
    background-color: var(--button_background_color);
    color: var(--font_color);
    border-color: var(--border_color)
  }

  to {
    background-color: var(--button_background_color_hover);
    color: var(--font_color_hover);
    border-color: var(--border_color_hover);
  }
}

.interface {
  border-width: var(--border_width);
  border-radius: var(--border_radius);
  border-style: var(--border_style);
  background-color: var(--interface_background_color);
  border-color: var(--border_color);
}

h1 {
  position: relative;
  margin-top: var(--interface_title_margin_top);
  padding-bottom: var(--interface_title_padding_bottom);
  padding-left: var(--text_padding_left);
}

p {
  padding-left: var(--text_padding_left);
}

th {
  color: var(--primary_2);
}

a {
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

a:hover {
  color: var(--font_color_hover);
}

.interface h1::after {
  content: "";
  position: absolute;
  border-style: var(--border_style);
  border-color: var(--border_color);
  border-width: 0;
  border-bottom-width: var(--border_width);
  bottom: 0;
  left: 0;
  right: 0;
}

.popup-flex-container {
  display: flex;
  flex-direction: column;
}

.popup-flex-container>.interface {
  background-color: var(--popup_background_color);
  border-color: var(--popup_border_color);
}

.popup-flex-container>.interface.font>h1 {
  text-align: center;
  padding-left: 0;
}

.popup-flex-container>.interface h1::after {
  border-color: var(--popup_border_color);
}

.text-input {
  display: block;
  margin-bottom: var(--popup_margin_between_inputs);
}

.submit-input {
  display: block;
  margin-bottom: var(--popup_margin_between_inputs);
}

.submit-input>button {
  position: relative;
  left: var(--popup_submit_input_left);
  width: var(--popup_submit_input_width);
  padding-top: var(--popup_submit_input_top_bottom_padding);
  padding-bottom: var(--popup_submit_input_top_bottom_padding);
  box-sizing: border-box;
}

.text-input>span {
  color: var(--popup_text_input_hint_color_0);
  position: absolute;
  z-index: 1;
  cursor: text;
  margin-left: var(--popup_text_input_hint_left);
  padding-top: var(--popup_text_input_hint_top_bottom_padding);
  padding-left: var(--popup_text_input_hint_top_bottom_padding);

  /* Prevent selection */
  pointer-events: none;
}

.text-input>input {
  position: relative;
  left: var(--popup_text_input_left);
  width: var(--popup_text_input_width);
  padding-top: var(--popup_text_input_top_bottom_padding);
  padding-bottom: var(--popup_text_input_top_bottom_padding);
  box-sizing: border-box;
}

.text-input>input:hover+span {
  color: var(--popup_text_input_hint_color_1);
}

.text-input>input:valid+span {
  display: none;
}

.button-container,
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tab-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 1rem;
  color: var(--primary_2);
}

.tab {
  cursor: pointer;
  padding: 0.5rem 1rem;
  user-select: none;
  transition: background-color 0.3s;
  border-style: var(--border_style);
  border-color: var(--border_color);
  background-color: var(--button_background_color);
}

.tab:hover {
  background-color: var(--primary_0);
}

.tab.active {
  background-color: #ffe2d5;
}

.content-container {
  display: none;
}

.content-container.active {
  display: block;
}