/* @import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap'); */

#layout {
    position: absolute;
    top: 0px;
    left: 0px;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid:
        [header-start]             "header header header" 6.5vh
        [header-end content-start] "left   middle right" 48.5vh
        [content-end footer-start] "footer footer footer" 45vh
        /[left] 1fr [middle] 1fr [right] 1fr;
}

header{
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  height: 100%;
}

/* Grid Settings */
.header {
    position: relative;
    background-color: #171d26;
    grid-row: header-start / header-end;
    grid-column: header / header;
}

.content {
    position: relative;
    background-color: #000000;
    grid-row: content-start / content-end;
    grid-column: left / right;
}

.footer {
    position: relative;
    background-color: #0f131a;
    grid-row: footer-start / -1;
    grid-column: footer / footer;
}

/* Make a top border that stretches exactly from left corner to right corner */
.footer::after {
  content: "";
  border-style: solid;
  border-color: #1f2633;
  /* Width seems to behave strangely */
  border-top-width: 0.01px;
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
}

#main-interface.content {
  border-width: 1px;
  border-radius: 6px;
  border-style: solid;
  border-color: #1f2633;
  position: absolute;
  left: 10%;
  right: 10%;
  background-color: #0f131a;
  top: 6%;
  height: 60%;
}

#format-bar.content {
  border-width: 1px;
  border-radius: 6px;
  border-style: solid;
  border-color: #1f2633;
  position: absolute;
  left: 10%;
  right: 10%;
  background-color: #0f131a;
  bottom: 6%;
  margin: auto; 
  height: 23%;
}
