#login-popup.font {
  color: white;
  font-size: 2vh;
}

#login-popup {
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
  border-color: #ffffff;
  display: block;
  position: absolute;
  background-color: #2f373b;
}