

/* Button Bar Container */
#button-bar-container.header {
  position: absolute;
  top: 12.5%;
  height: 75%;
  right: 4%;
  width: 10%;
  background-color: none;
  margin: auto; 
}

/* Logo */
#logo-container.header {
  position: absolute;
  top: 0;
  height: 75%;
  left: 0;
  height: 100%;
  width: 10%;
  background-color: blue;
  margin: auto; 
}

#logo-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Login button  */
#login-button.header {
  border-style: solid;
  border-radius: 12px;
  border-color: #993000;
  border-width: 2px;

  position: absolute;
  right: 5%;
  width: 90%;
  background-color: #262626;
  top: 10%;
  margin: auto; 
  height: 80%;
}

#login-button.header.font {
  font-size: 2vh;
  color: #ff5100;
}

#login-button.header:hover {
  background-color: #333333;
  border-color: #b33900;
  color: #e64900;
  animation-name: hover-button-animation;
  animation-duration: 1s;
}
@keyframes hover-button-animation {
  /* Change of +/-5% lightness */
  from {background-color: #262626;
        color: #ff5100;
        border-color: #993000;}
  to {background-color: #333333;
      color: #e64900;
      border-color: #b33900;}
}
